# Compiled class files
*.class

# Log files
*.log

# NetBeans IDE files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-attrs

# Temporary files & Word lock files
~$*
*.tmp
*.bak

# Local Environment configuration
.env
